<div class="main-visual">
  <h2 class="catch-copy">
    スーツは紳士の鎧<br/>
    紳士は現代の騎士
  </h2>
</div>
<div>
  <div class="slider">
    <% @randams.each do |post| %>
      <%= link_to image_tag(post.image), post_path(post.id), method: :get %>
    <% end %>
  </div>
</div>
